DJANGO_DATABASE_PASSWORD=SenhaUltraSegura@123
DJANGO_DATABASE_USER=app_marcacao_user
DJANGO_DATABASE_NAME=app_marcacao_database
DJANGO_DATABASE_HOST=127.0.0.1
DJANGO_DATABASE_PORT=5432

CSRF_TRUSTED_ORIGIN=http://127.0.0.1
DEBUG=True
TIME_ZONE=America/Sao_Paulo