{% extends "base.html" %}
{% block title %}
    Exercicio Python - DELETE!
{% endblock%}

{% block content %}
    <h2 class="text-center">Atenção! você esta prestes a deletar um serviço, este não mais se tornará disponível para os clientes</h2>

    <form action="{% url 'servicos:delete' servico.id %}" method="post" class="form-control mb-3">
        {% csrf_token %}

        <p class="text-center">Serviço {{ servico.nome }}, descricao: {{ servico.descricao }}</p>

        <div class="d-flex justify-content-evenly">
            <input type="submit" value="DELETAR" class="btn btn-danger">
        </div>
    </form>

    <a onclick="history.back()" class="btn btn-primary">VOLTAR</a>
    {{ teste }}
{% endblock %}