{% extends "base.html" %}
{% block title %}
    Exercicio Python
{% endblock%}

{% block content %}
    <h2 class="text-center">Exercício Python - Serviços</h2>

    <form action="{% url 'servicos:edit' servico.id %}" method="post">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label" for="nome">Nome do Serviço</label>
            <input type="text" name="nome" id="nome" value="{{ servico.nome }}">
        </div>

        <div class="mb-3">
            <label class="form-label" for="duracao">Duração(em minutos)</label>
            <input type="number" name="duracao" id="duracao" value="{{ servico.duracao }}">
        </div>

        <div class="mb-3">
            <label class="form-label" for="descricao">Descrição</label>
            <input type="text" name="descricao" id="descricao" placeholder="Dica: seja breve..." value="{{ servico.descricao }}">
        </div>

        <div class="d-flex justify-content-evenly">
            <input type="submit" value="REGISTRAR" class="btn btn-primary">
        </div>
    </form>

    <a onclick="history.back()" class="btn btn-primary">VOLTAR</a>
{% endblock %}