{% extends "base.html" %}
{% block title %}
    Exercicio Python
{% endblock%}

{% block content %}
    <h2 class="text-center">Exercício Python - Serviços</h2>

    <div class='text-start m-2'>
        <a href="{%  url 'servicos:add' %}" class="btn btn-primary fw-bolder"> 
        <svg class="bi bi-wrench" width="16" height="16" fill="currentColor" version="1.1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
            <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11z"/>
            <path d="m8.9404 3.5026h4.0104" fill="none" stroke-linecap="round" stroke-width=".995"/>
            <path d="m10.902 1.4922v4.0104" fill="none" stroke-linecap="round" stroke-width=".99479"/>
            <rect x="8.8555" y="2.6717" width="6.1238" height="1.3208"/>
            <rect transform="rotate(90.054)" x=".28959" y="-12.637" width="6.1238" height="1.3213" stroke-width="1.0002"/>
        </svg>
        NOVO SERVIÇOS 
        </a> 
    </div>

    <div class="overflow-scroll">    
        <table  class="table table-dark">
            <thead>
                <tr>
                    <th>NOME</th>
                    <th>DURAÇÃO</th>
                    <th>DESCRIÇÃO</th>
                    <th>DELETE</th>
                    <th>EDITAR</th>
                </tr>
            </thead>
            
            <tbody>
                {% for servico in servicos %}
                    <tr>
                        <td>{{ servico.nome }}</td>
                        <td>{{ servico.duracao }}</td>
                        <td>{{ servico.descricao }}</td>
                        <td> 
                            <a href="{% url 'servicos:delete' servico.id %}" class="btn btn-danger" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                                
                                DELETE
                            </a> 
                        </td>
                        <td> 
                            <a href="{% url 'servicos:edit'   servico.id %}" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>

                                EDITAR
                            </a> 
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="5"> 
                        <a href="{%  url 'servicos:add' %}" class="btn btn-primary fw-bolder"> 
                        <svg class="bi bi-wrench" width="16" height="16" fill="currentColor" version="1.1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                            <path d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364zm13.37 9.019.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11z"/>
                            <path d="m8.9404 3.5026h4.0104" fill="none" stroke-linecap="round" stroke-width=".995"/>
                            <path d="m10.902 1.4922v4.0104" fill="none" stroke-linecap="round" stroke-width=".99479"/>
                            <rect x="8.8555" y="2.6717" width="6.1238" height="1.3208"/>
                            <rect transform="rotate(90.054)" x=".28959" y="-12.637" width="6.1238" height="1.3213" stroke-width="1.0002"/>
                        </svg>
                        
                        NOVO SERVIÇOS 
                        </a> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}