{% extends "base.html" %}
{% block title %}
    Exercicio Python
{% endblock%}

{% block content %}
    <h2 class="text-center">Exercício Python - Clientes</h2>

    <form method="post">
        {% csrf_token %}

        {{ form }}

        <div class="d-flex justify-content-evenly mt-4">
            <input type="submit" value="REGISTRAR" class="btn btn-primary">
        </div>
    </form>

    <p class="text-danger text-center mt-4">{{ mensagem }}</p>

    <a href="{% url 'clientes:index' %}" class="btn btn-primary">VOLTAR</a>
{% endblock %}