{% extends "base.html" %}
{% block title %}
    Exercicio Python
{% endblock%}

{% block content %}
    <h2 class="text-center">Exercício Python - Marcações</h2>

    <form method="post">
        {% csrf_token %}

        {% for input in form %}
            <div class="mb-4">
                {{ input.label_tag }}
                {{ input }}
                {{ input.errors }}
            </div>
        {% endfor %}

        {{ form.non_field_errors }}
        <div class="d-flex justify-content-evenly">
            <input type="submit" value="REGISTRAR" class="btn btn-primary">
        </div>
    </form>

    <a href="{% url 'index' %}" class="btn btn-primary">VOLTAR</a>

    <script>
        const cliente = document.getElementById('cliente')
        const servico = document.getElementById('servico')
    </script>
{% endblock %}