{% extends "base.html" %}
{% block title %}
    Exercicio Python
{% endblock%}

{% block content %}
    <h2 class="text-center">Exercício Python - Marcações</h2>

    <table  class="table table-dark">
        <thead>
            <tr>
                <th>INICIO</th>
                <th>FIM</th>
                <th>DURAÇÃO</th>
                <th>CLIENTE</th>
                <th>SERVIÇOS</th>
                <th>DELETE</th>
                <th>EDITAR</th>
            </tr>
        </thead>
        <tbody>
            {% for marcacao in marcacoes %}
                <tr>
                    <td>
                        {{ marcacao.data_inicio }}<br>
                        {{ marcacao.hora_inicio }}
                    </td>
                    <td>
                        {{ marcacao.data_fim }}<br>
                        {{ marcacao.hora_fim }}
                    </td>
                    <td>{{ marcacao.duracao }} min.</td>
                    <td>{{ marcacao.cliente.nome }}</td>
                    <td>{{ marcacao.servico.nome }}</td>
                    <td> <a href="{% url 'marcacoes:delete' marcacao.id %}" class="btn btn-danger">DELETE</a> </td>
                    <td> <a href="{% url 'marcacoes:edit' marcacao.id %}" class="btn btn-primary">EDITAR</a> </td>
                </tr>
            {% endfor %}
            <tr>
                <td colspan="7"> <a href="{%  url 'marcacoes:add' %}"> NOVA MARCAÇÃO </a> </td>
            </tr>
        </tbody>
    </table>

    <p class="text-center m-4">
        <a href="{% url 'clientes:index' %}">Clientes</a>
    </p>

    <p class="text-center m-4">
        <a href="{% url 'servicos:index' %}">Serviços</a>
    </p>
{% endblock %}