{% extends "base.html" %}
{% block title %}
    Exercicio Python
{% endblock%}

{% block content %}
    <h2 class="text-center">Exercício Python - Marcações</h2>

    <div class='text-start my-2'>
        <a href="{%  url 'marcacoes:add' %}" class="btn btn-primary fw-bolder">
            <svg class="bi bi-calendar-event" width="16" height="16" fill="currentColor" version="1.1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                <path d="m7.8229 8.8431a0.35559 0.37668 0 0 1 0.35559-0.37668h0.71117a0.35559 0.37668 0 0 1 0.35559 0.37668v0.75336a0.35559 0.37668 0 0 1-0.35559 0.37668h-0.71117a0.35559 0.37668 0 0 1-0.35559-0.37668z" stroke-width=".73196"/>
                <path d="m2.4891 3.9463a0.35559 0.37668 0 0 1 0.35559 0.37668v0.37668h5.6894v-0.37668a0.35559 0.37668 0 0 1 0.71117 0v0.37668h0.71117a1.4223 1.5067 0 0 1 1.4223 1.5067v8.287a1.4223 1.5067 0 0 1-1.4223 1.5067h-8.534a1.4223 1.5067 0 0 1-1.4223-1.5067v-8.287a1.4223 1.5067 0 0 1 1.4223-1.5067h0.71117v-0.37668a0.35559 0.37668 0 0 1 0.35559-0.37668m-1.7779 3.0134v7.5336a0.71117 0.75336 0 0 0 0.71117 0.75336h8.534a0.71117 0.75336 0 0 0 0.71117-0.75336v-7.5336z" stroke-width=".73196"/>
                <rect x="9.5999" y="2.8791" width="6.1238" height="1.3208"/>
                <rect transform="rotate(90.054)" x=".49626" y="-13.382" width="6.1238" height="1.3213" stroke-width="1.0002"/>
            </svg> 

            NOVA MARCAÇÃO 
        </a> 
    </div>

    <div class="overflow-scroll">
        <table  class="table table-dark">
            <thead>
                <tr>
                    <th>INICIO</th>
                    <th>FIM</th>
                    <th>DURAÇÃO</th>
                    <th>CLIENTE</th>
                    <th>SERVIÇOS</th>
                    <th>DELETE</th>
                    <th>EDITAR</th>
                </tr>
            </thead>
            <tbody>
                {% for marcacao in marcacoes %}
                    <tr>
                        <td>
                            {{ marcacao.data_inicio }}<br>
                            {{ marcacao.hora_inicio }}
                        </td>
                        <td>
                            {{ marcacao.data_fim }}<br>
                            {{ marcacao.hora_fim }}
                        </td>
                        <td>{{ marcacao.duracao }} min.</td>
                        <td>{{ marcacao.cliente.nome }}</td>
                        <td>{{ marcacao.servico.nome }}</td>
                        <td> 
                            <a href="{% url 'marcacoes:delete' marcacao.id %}" class="btn btn-danger">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                    <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                </svg>
                                
                                DELETE
                            </a> 
                        </td>
                        <td> 
                            <a href="{% url 'marcacoes:edit' marcacao.id %}" class="btn btn-primary">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                    <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                    <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                </svg>

                                EDITAR
                            </a> 
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="7"> 
                        <a href="{%  url 'marcacoes:add' %}" class="btn btn-primary fw-bolder">
                            <svg class="bi bi-calendar-event" width="16" height="16" fill="currentColor" version="1.1" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                                <path d="m7.8229 8.8431a0.35559 0.37668 0 0 1 0.35559-0.37668h0.71117a0.35559 0.37668 0 0 1 0.35559 0.37668v0.75336a0.35559 0.37668 0 0 1-0.35559 0.37668h-0.71117a0.35559 0.37668 0 0 1-0.35559-0.37668z" stroke-width=".73196"/>
                                <path d="m2.4891 3.9463a0.35559 0.37668 0 0 1 0.35559 0.37668v0.37668h5.6894v-0.37668a0.35559 0.37668 0 0 1 0.71117 0v0.37668h0.71117a1.4223 1.5067 0 0 1 1.4223 1.5067v8.287a1.4223 1.5067 0 0 1-1.4223 1.5067h-8.534a1.4223 1.5067 0 0 1-1.4223-1.5067v-8.287a1.4223 1.5067 0 0 1 1.4223-1.5067h0.71117v-0.37668a0.35559 0.37668 0 0 1 0.35559-0.37668m-1.7779 3.0134v7.5336a0.71117 0.75336 0 0 0 0.71117 0.75336h8.534a0.71117 0.75336 0 0 0 0.71117-0.75336v-7.5336z" stroke-width=".73196"/>
                                <rect x="9.5999" y="2.8791" width="6.1238" height="1.3208"/>
                                <rect transform="rotate(90.054)" x=".49626" y="-13.382" width="6.1238" height="1.3213" stroke-width="1.0002"/>
                            </svg> 

                            NOVA MARCAÇÃO 
                        </a> 
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}