{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/estiloBase.css' %}" rel="stylesheet">
    <title>WNP - {% block title %}{% endblock %}</title>
</head>
<body class="container">
    <header class="">
        <h1 class="text-center">Wellcome to my Python site</h1>
        {% url 'logout' as url_logout %}
        {% if user.is_authenticated and request.path != url_logout %}
            <div class="text-end">
                <a class="btn btn-secondary" href="{% url 'logout' %}" >SAIR</a>
            </div>
        {% endif %}
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer> <p class="text-center">Desenvolvido por Wesley Natan Pereira para fins acadêmicos</p> </footer>
</body>
<script src="{% static 'js/inputPreco.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>

</html>