{% extends "base.html" %}
{% block title %}
    Exercicio Python
{% endblock%}

{% block content %}

<svg width="300" height="300" version="1.1" viewBox="0 0 79.375 79.375" xmlns="http://www.w3.org/2000/svg">
 <g fill="none" stroke="currentColor">
  <path d="m8.5138 4.498-1.6565 20.801 14.08-1.8159" stroke-width=".80753"/>
  <ellipse cx="29.385" cy="15.063" rx="7.951" ry="9.4098" stroke-width=".80753"/>
  <ellipse cx="65.666" cy="15.532" rx="7.951" ry="9.4098" stroke-width=".80753"/>
  <path d="m54.853 17.022a7.951 9.4098 0 0 1-8.2858 6.8371 7.951 9.4098 0 0 1-7.268-8.3017 7.951 9.4098 0 0 1 5.4797-10.042 7.951 9.4098 0 0 1 9.3836 4.4245" stroke-width=".80753"/>
  <path d="m54.563 17.21-7.1228-0.66034" stroke-width=".80753"/>
  <path transform="matrix(.88204 0 0 .86342 14.954 17.169)" d="m36.86 58.772-21.667 0.25912-11.058-18.635 10.609-18.894 21.667-0.25912 11.058 18.635z"/>
  <path transform="matrix(-.93969 .061444 -.061477 -.93228 52.142 78.525)" d="m40.341 40.751-16.4 15.43-22.508-0.68607-15.43-16.4 0.68607-22.508 16.4-15.43 22.508 0.68607 15.43 16.4z"/>
 </g>
</svg>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}

    <input type="hidden" name="next" id="" value="{{ next }}">

    <div class="mb-3">
        <label for="username">Nome:</label>
        <input type="text" name="username" id="username" class="form-control" autocapitalize="none">
    </div>

    <div class="mb-3">
        <label for="password">Senha:</label>
        <input type="password" name="password" id="password" class="form-control">
    </div>

    <input type="submit" value="ENTRAR" class="btn btn-primary">
</form>

<p class="text-danger text-center">{{ mensagem }}</p>
{% endblock %}