:root{
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.4), rgba(50, 50, 50, 0.2));
    --bs-body-bg: rgb(0, 0, 0);
    --bs-body-color: rgb(255, 255, 255);
    --bs-secondary-color: rgb(200,200,200)
}

body{
    background-color: #000000;
    color: #cbcbcb;
}

main{
    text-align: center;
}

input[type="text"], label{
    text-align: left;
    display: block;
}

form{
    max-width: 400px;
    margin: auto
}

th,td{
    text-align: center;
}

header{
    position: sticky;
    top: 0;
    border-bottom: 1px #cbcbcb solid;
}

h1{
    margin: 0;
    color: rgb(255,255,255,0.75)
}

h1:hover{
    margin: 0;
    color: white
}

header a svg{
    margin-right: 4px;
}